main {
    padding-top: 10px; /* Espacio para que el contenido no se esconda debajo del navbar */
    padding-bottom: 100px; /* Espacio para que el contenido no se pegue al footer */
  }
  
  h2 {
    margin-bottom: 2px; /* Espacio debajo de los títulos */
  }
  