<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Mi Tienda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link position-relative" routerLink="/cart">
              🛒 Carrito
              <span *ngIf="cartItemCount > 0" class="badge bg-danger position-absolute top-0 start-100 translate-middle">
                {{ cartItemCount }}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  